<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/chatlist.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="notice">
      <div class="page-title">
        <div class="container">
          <h3>CodeArena 채팅방 목록</h3>
        </div>
      </div>

      <!-- board seach area -->
      <div id="board-search">
        <div class="container">
          <div class="search-window">
            <form action="">
              <div class="search-wrap">
                <span>
                  채팅방식 :
                  <select name="chat_method" id="chat_method">
                    <option value="all">전체보기</option>
                    <option value="one">1:1채팅</option>
                    <option value="many">오픈채팅</option>
                  </select>
                  개발 언어 :
                  <input type="checkbox" value="HTML" class="l_check" />HTML/CSS
                  <input
                    type="checkbox"
                    value="JavaScript"
                    class="l_check"
                  />JavaScript
                  <input type="checkbox" value="Python" class="l_check" />Python
                  <button class="select">조회</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- board list area -->
      <div id="board-list">
        <div class="container">
          <table class="board-table">
            <thead>
              <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-c_method">채팅방식</th>
                <th scope="col" class="th-lang">개발언어</th>
                <th scope="col" class="th-title">제목</th>
                <th scope="col" class="th-user">작성자</th>
                <th scope="col" class="th-date">등록일</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10</td>
                <td>1:1채팅</td>
                <td>JavaScript</td>
                <th>
                  <a href="#">JavaScript에 대해 배우실분 들어오세요</a>
                  <p>테스트</p>
                </th>
                <td>어 금지(멘토)</td>
                <td>2017.07.13</td>
              </tr>

              <tr>
                <td>9</td>
                <td>오픈채팅</td>
                <td>JavaScript</td>
                <th>
                  <a href="#">JavaScript 문제가 너무 어려워요 ㅠㅠ</a>
                  <p>테스트</p>
                </th>
                <td>legend A(멘티)</td>
                <td>2017.07.02</td>
              </tr>

              <tr>
                <td>8</td>
                <td>1:1채팅</td>
                <td>HTML/CSS</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>7</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>6</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>5</td>
                <td>1:1채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>4</td>
                <td>오픈채팅</td>
                <td>HTML/CSS</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>3</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>2</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>1</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>

              <tr>
                <td>1</td>
                <td>오픈채팅</td>
                <td>Python</td>
                <th>
                  <a href="#">Python 고수 분 모십니다</a>
                  <p>테스트</p>
                </th>
                <td>어렵다어려워(멘티)</td>
                <td>2017.07.01</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <span class="pagination__number-indicator"></span>
            <button class="pagination__arrow">
              <span class="pagination__arrow-half"></span>
              <span class="pagination__arrow-half"></span>
            </button>
            <button class="pagination__number pagination__number--active">
              1
            </button>
            <button class="pagination__number">2</button>
            <button class="pagination__number">3</button>
            <button class="pagination__number">4</button>
            <button class="pagination__number">5</button>
            <button class="pagination__number">6</button>
            <button class="pagination__number">7</button>
            <button class="pagination__arrow pagination__arrow--right">
              <span class="pagination__arrow-half"></span>
              <span class="pagination__arrow-half"></span>
            </button>
            <button class="write" onclick="openModal()">방생성</button>
          </div>
        </div>
      </div>
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h2 class="make-h2">방 생성</h2>
          <form id="make_room_form">
            <div class="m_div">
              <label for="room-name">방 이름:</label>
              <input type="text" id="room_name" name="room_name" required />
            </div>
            <div class="m_div">
              <label for="chat-method">채팅방식</label>
              <select name="chat_method" id="chat_method">
                <option value="one">1:1채팅</option>
                <option value="many">오픈채팅</option>
              </select>
            </div>
            <div class="m_div">
              <label for="dev-lang">개발언어</label>
              <select name="dev_lang" id="dev_lang">
                <option value="html/css">HTML/CSS</option>
                <option value="javascript">JavaScript</option>
                <option value="python">Python</option>
              </select>
            </div>
            <button type="submit" class="make-btn">만들기</button>
          </form>
        </div>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/codeArenaList.js"></script>
  </body>
</html>
